/*

File Name: initialize.css
Description: 
Version: 0.92 October 26, 2013
Author: Christian Ziebarth
Author Twitter: http://www.twitter.com/cmziebarth

Also, much of this comes from:

HTML5 Boilerplate 3.0.2 CSS: h5bp.com/css
https://github.com/murtaugh/HTML5-Reset/blob/master/_/css/style.css
Andy Clarke's 320 and Up
http://webdesignerwall.com/tutorials/responsive-design-with-css3-media-queries
http://tjkdesign.com/ez-css/css/base.css

A note about formatting, layout: HTML elements are shown in uppercase; in other style sheets outside of this one it is ubiquitous to render HTML elements in lowercase; this probably comes from around 2001 when XHTML was en vogue and people were told to put HTML elements in lowercase, but this actually only applied to elements within a valid XHTML document; it was never a requirement in style sheets (unless you were going to use XML rendered as XHTML, which nobody ever really did). Uppercase is used here because when reading through a style sheet it helps to distinguish HTML elements from id's, classes, type selectors, etc.

To create a final, production version of your style sheet we suggest you remove any comments, minify any white space as you see fit, and use the "CSS Usage" Firebug supplement to scan for any style rules that are not being used by your site and remove those or comment them out as you see fit.

Make sure you are taking advantage of CSS pseudo-classes: http://www.sitepoint.com/getting-to-know-css3-selectors-structural-pseudo-classes/ and http://www.sitepoint.com/getting-to-know-css3-selectors-other-pseudo-classes/

*/



/* Begin "normalize" section. IMPORTANT: This section is only a comment so that style rules that have already been declared by and are universally consistent across default browser style sheets won't have to be processed again if you are going to use them as they are, but at least when they are here in comments you can see at a glance what they are. For any rules that are here that you want to change the attribute value of you can move them to the reset/base section of this stylesheet, or elsewhere as preferred. Most of this information comes from: http://css-class.com/test/css/defaults/UA-style-sheet-defaults.htm Please refer to this site for more information about default browser style sheets.


ADDRESS, BLOCKQUOTE, BODY, CENTER, DD, DIV, DT, FIELDSET,
FORM, FRAME, FRAMESET, H1, H2, H3, H4, H5, H6,
MENU, NOFRAMES, OL, P, PRE, UL
{
	display: block;
}

HEAD
{
	display: none;
}
 
ADDRESS, CITE, EM, I, VAR
{
	font-style: italic;
}

DEL, S, STRIKE
{
	text-decoration: line-through;
}

B, H1, H2, H3, H4, H5, H6, STRONG, TH
{
	font-weight: bold;
	font-weight: 401;
	font-weight: 700;
	font-weight: bolder;
	(The elements listed here use different values [depending on the browser] for the "font-weight" property but each one has the net effect of making the text bold. It is up to the developer to decide if they want to reset these on their own for even greater consistency.)
}

INS, U
{
	text-decoration: underline;
}

PRE
{
	white-space: pre;
}
	
 End "normalize" section. */

 /* Also consider adding in the file suggested by http://kennethormandy.com/journal/normalize-opentype-css */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */


/* http://dev.opera.com/articles/css-will-change-property/ */

ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MAIN, NAV, SECTION
{
	display: block;
}

HTML, BODY, BODY DIV, SPAN, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P,
BLOCKQUOTE, PRE, ABBR, ADDRESS, CITE, CODE, DEL, DFN, EM, IMG, INS, KBD,
Q, SAMP, SMALL, STRONG, SUB, SUP, VAR, B, I, DL, DT, DD, OL, UL, LI, FIELDSET,
FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD,
ARTICLE, ASIDE, FIGURE, FOOTER, HEADER, HGROUP, MAIN, MENU, NAV, SECTION, TIME, MARK, AUDIO, VIDEO
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

AUDIO, CANVAS, VIDEO
{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

AUDIO:not([controls]), [hidden], TEMPLATE
{
	display: none;
}

:-webkit-full-screen #myObject {
  font-size: 20px;
  width: 100%;
}
:-moz-full-screen #myObject {
  font-size: 20px;
  width: 100%;
} /* http://www.css-jquery-design.com/#! */

/* CSS3 Inheritance Tips and Tricks – inherit, initial & unset http://www.css-jquery-design.com/#! */


/*  Begin "reset/base" section after this comment ends. This section is generally for rules defined in default browser style sheets where there is some variance in the values that are set for them so that they can now have a consistent style applied to them across any browsers, platforms and devices that will use this stylesheet. The values here will generally come from well-known reset style sheets, such as Eric Meyer's, Yahoo's, HTML5 Boilerplate's, etc. They can be kept the same, removed, altered or moved as the developer sees fit. Examples shown here are only examples in this early version. */



/* See https://github.com/Schepp/CSS-Filters-Polyfill */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
 

HTML
{
	/* See https://github.com/Schepp/box-sizing-polyfill for IE6/7 */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%; /* Use rem's for font sizing; See http://csswizardry.com/2011/05/font-sizing-with-rem-could-be-avoided/ */
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgb(52,158,219);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow-y: scroll;
}

*, *:before, *:after
{
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-o-box-sizing: inherit;
	box-sizing: inherit; /* http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
}

*
{
    image-rendering: optimizequality; /* Seen at https://www.rocket-internet.com/ */
}

/* prevent BG image flicker upon hover */
.lt-ie7 HTML /* Should this selector actually be "HTML.lt-ie7"? */
{
	filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

HTML, BUTTON, INPUT, SELECT, TEXTAREA
{
	font-family: sans-serif;
	color: #222;
}

BODY
{
	background-color: transparent;
	/* color: rgb(40,40,40); 320 and Up preference */
	margin: 0 auto;
	font-family: Helmet, Freesans, sans-serif; /* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
	/* font-family: Cambria, Georgia, Times, "Times New Roman"; 320 and Up preference */
	font-size: 1.3rem; /* More on font sizing: http://www.sitepoint.com/new-css3-relative-font-size/ */
	line-height: 1.4;
	padding: 0;
	/* text-rendering: optimizeLegibility; Consider using the "text-rendering" property. See https://developer.mozilla.org/en/CSS/text-rendering for more information. */
	/* Also consider using the -moz-font-feature-settings (or otherwise prefixed or non-prefixed) property to handle alternates, ligatures, small caps, kerning, fractions, etc. See http://ie.microsoft.com/testdrive/Graphics/opentype/opentype-fontbureau/index.html for for more information. */
}

/* using local fonts? Make sure to read up on Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */


/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
   
IMG, OBJECT, EMBED
{
	max-width: 100%;
	height: auto;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i and twitter.com/miketaylr/status/12228805301
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
 

::-webkit-selection
{
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

::-moz-selection
{
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

::selection
{
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

IMG::-moz-selection
{
	background: transparent; /* From: https://github.com/jonikorpi/Frameless/blob/master/frameless.less */
}

IMG::selection
{
	background: transparent; /* From: https://github.com/jonikorpi/Frameless/blob/master/frameless.less */
}

/* Look into :target pseudo-class https://developer.mozilla.org/en-US/docs/CSS/:target */


/* =============================================================================
   Links
   ========================================================================== */

NAV
{
	/* See http://www.barrelny.com/blog/text-align-justify-and-rwd/ for info on aligning nav buttons effectively. */
}
   
/* Remember that link pseudo-classes can also be combined, such as A:visited:hover (to define the state of an anchor element that has already been visited and is now being hovered over). */

A
{
	background: transparent;
	color: #00e;
	font-size: 100%;
  	line-height: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/*	j.mp/webkit-tap-highlight-color */
A:link
{
	-webkit-tap-highlight-color: #fcd700;
} 

A:visited
{
	color: #551a8b;
}

A:hover
{
	color: #06e;
}

A:focus
{
	outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */

A:hover, A:active
{
	outline: none; /* Accessible focus treatment people.opera.com/patrickl/experiments/keyboard/test */
}


/* =============================================================================
   Typography
   ========================================================================== */

ABBR[title], DFN[title]
{
	border-bottom: 1px dotted;
	cursor: help;
}

BLOCKQUOTE
{
	margin: 1em 40px;
}

DFN
{
	font-style: italic;
}

H1
{ 
	margin-bottom: .75em;
	font-size: 3em; /* 48 / 16 = 3 */
	line-height: 1.2;
}

H2
{ 
	margin-bottom: .75em;
	font-size: 2em; /* 36 / 16 = 2 */
	line-height: 1.2;
}

H3
{ 
	margin-bottom: 1em;
	font-size: 1.5em; /* 24 / 16 = 1.5 */
	line-height: 1.3;
}

H4
{ 
	margin-bottom: 1.25em;
	font-size: 1.25em; /* 20 / 16 = 1.25 */
	line-height: 1.25;
}

H5
{ 
	margin-bottom: 1.5em;
	font-size: 1em; /* 16 / 16 = 1 */
}

H6
{ 
	font-size: 1em; /* 16 / 16 = 1 */
}

HR
{
	/* background-color: #808080; Suggested by https://github.com/ao5357/hawiducss/blob/gh-pages/styles.css */
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	.lt-ie8 display: block;
	border: 0;
	border-style: inset;
	/* border: solid #dddddd; Suggested by Foundation. */
	/* border-width: 1px 0 0; Suggested by Foundation. */
	/* border-width: 0; Suggested by https://github.com/ao5357/hawiducss/blob/gh-pages/styles.css */
	border-top: 1px solid #ccc;
	clear: both;
	/* color: #808080; Suggested by https://github.com/ao5357/hawiducss/blob/gh-pages/styles.css */
	height: 1px; /* Best value here? Foundation suggests simply "0"; https://github.com/ao5357/hawiducss/blob/gh-pages/styles.css suggests .2em; */
	line-height: 0;
  	margin: 1.25em 0 1.1875em;
	margin:1.8571em 2em;
	padding: 0;
	/* text-align: center; Uncomment this rule if the :after aspect will be used. */
	/* Also see http://css-tricks.com/snippets/css/cross-browser-hr-styling/ */
}

/* HR; Suggested by: http://css-tricks.com/snippets/css/cross-browser-hr-styling/
{
	border : 0;
	height : 15px;
	background : url(hr.gif) 50% 0 no-repeat;
	background : url(hr.gif) 50% 0 repeat-x; Suggested by a commenter on the same page
	margin : 1em 0;
} */

/* .lt-ie8 HR These HR styles for IE browsers below version 8 were suggested by: http://css-tricks.com/snippets/css/cross-browser-hr-styling/
{
	display: list-item;
	list-style: url(hr.gif) inside; This likely needs a GIF provided.
	filter: alpha(opacity=0);
	width: 0;
} */

HR:after
{
	/* content: "\a7\a7"; This adds a little curlicue in the center.
	font-size: 1.25em; This comes from https://github.com/ao5357/hawiducss/blob/gh-pages/styles.css and may be helpful. */
}

/* Also see http://css-tricks.com/snippets/css/cross-browser-hr-styling/ and http://css-tricks.com/simple-styles-for-horizontal-rules/ */

INS
{
	background: #ff9;
	color: #000;
	text-decoration: none;
}

MARK
{
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

P
{
	/* http://www.w3.org/TR/css3-text/#hyphenation */
	-webkit-hyphens: auto;
	-webkit-hyphenate-character: "\2010";
	-webkit-hyphenate-limit-after: 1;
	-webkit-hyphenate-limit-before: 3;
	-moz-hyphens: auto;
	hyphens: auto; 
	text-align: justify;
	/* -ms-text-justify: newspaper; See http://www.css3.com/css-text-justify/ for other possible values. I believe "auto" is the default value. */
	/* text-justify: newspaper; http://jsfiddle.net/8NSHy/1/ doesn't show much difference in the values. */
}

P, OL, UL, DL, ADDRESS
{ 
	margin-bottom: 1.5em;
}

/* Redeclare monospace font family: h5bp.com/j */
PRE, CODE, KBD, SAMP
{
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
PRE
{
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */    /* Chrome & Safari */
	white-space: -moz-pre-wrap;  /* Mozilla since 1999 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word; /* IE */
}

BLOCKQUOTE, Q
{
	quotes: none;
}

Q
{
    quotes: "\201C" "\201D" "\2018" "\2019"; /* This is the newest suggestion by HTML5 Boilerplate */
}

BLOCKQUOTE:before, 
BLOCKQUOTE:after,
Q:before, Q:after
{
	content: "";
	content: none;
}

/* blockquote{background:#f9f9f9;border-left:1em solid #eee;margin:1.5em 1em;padding:.5em 1em;quotes:'\201C' '\201C' '\201C' '\201C';}
blockquote:before{color:#808080;content:open-quote;font-size:4em;line-height:.1em;margin-right:.25em;vertical-align:-.4em;}
blockquote > :first-child{display:inline;}
blockquote > :last-child{margin-bottom:0;}
q{quotes:"\201C""\201D""\2018""\2019";}
hr{background-color:#808080;border-width:0;color:#808080;height:.2em;line-height:0;margin:1.8571em 2em;page-break-after:always;text-align:center;}
hr:after{content:"\a7\a7";font-size:1.25em;} This stuff comes from https://github.com/ao5357/hawiducss/blob/gh-pages/styles.css and may be helpful. */

SMALL
{
	font-size: 80%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k and gist.github.com/413930 */
SUB, SUP
{
	font-size: 75%;
	font-variant: small-caps;
	letter-spacing: .1em;
	line-height: 0em;
	position: relative;
	text-transform: lowercase;
	vertical-align: baseline;
	margin-right:.4em;
}

SUP
{
	top: -0.5em;
}

SUB
{
	bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

UL, OL
{
	margin: 1em 0;
	padding: 0 0 0 40px;
}

DD, DL
{
	margin: 0 0 0 40px;
}

DT
{ 
	font-weight: normal; /* http://tjkdesign.com/ez-css/css/base.css suggests using "bold" here */
}

LI UL, 
LI OL
{ 
	margin: 0;
	font-size: 1em;
}

OL LI, UL OL LI
{
	list-style-type: decimal;
}

UL LI
{
	list-style-type: disc;
}

UL UL LI
{
	list-style-type: circle;
}

UL UL UL LI
{
	list-style-type: square;
}

OL OL LI
{
	list-style-type: lower-alpha;
}

OL OL OL LI
{
	list-style-type: lower-roman;
}

NAV UL, NAV OL
{
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

IMG
{
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle; /* Or is bottom a better value? See: http://tjkdesign.com/ez-css/css/base.css */
	width: auto\9; /* ie8 */
}

AUDIO, CANVAS, IMG, SVG, VIDEO
{
    vertical-align: middle;
}


/*
 * Correct overflow not hidden in IE9
 */

SVG:not(:root)
{
	overflow: hidden;
}

FIGURE
{
	margin-bottom: 1.5em;
}

FIGURE IMG,
FIGURE OBJECT,
FIGURE EMBED
{
	margin-bottom: .75em;
	max-width: 100%;
}

FIGCAPTION
{
	display: block;
	font-weight: normal;
}


/* =============================================================================
   Forms
   ========================================================================== */

FORM
{
	margin: 0;
}

FIELDSET
{
	border: 0;
	line-height: 1; /* from: http://tjkdesign.com/ez-css/css/base.css */
	margin: 0;
	padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
LABEL
{
	font-weight: normal;
	cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

LEGEND
{
	border: 0;
	color: #000; /* Change color value here accordingly. */
	*margin-left: -7px;
	padding: 0;
	padding-bottom: .5em; /* (Padding is used so Internet Explorer does not cut-off descenders in letters like p, g, etc.; see: http://tjkdesign.com/ez-css/css/base.css) */
	white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

BUTTON, INPUT, SELECT, TEXTAREA
{
	font-size: 99%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

BUTTON, INPUT, SELECT, TEXTAREA, OPTGROUP, OPTION
{
	font: inherit;
	text-transform: inherit;
	line-height: inherit !important;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

BUTTON, INPUT
{
	line-height: normal;
	*overflow: visible;
}

/* make buttons play nice in IE */
BUTTON
{
	width: auto;
	overflow: visible;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

BUTTON, HTML INPUT[type="button"], INPUT[type="reset"], INPUT[type="submit"], INPUT[type="email"]
{
	cursor: pointer;
	-webkit-appearance: button;
}

.ie6 INPUT /* Remove if not supporting IE6. */
{
	vertical-align: text-bottom;
}

INPUT[type="text"], INPUT[type="password"], INPUT[type="date"], INPUT[type="datetime"], INPUT[type="datetime-local"],
INPUT[type="month"], INPUT[type="week"], INPUT[type="email"], INPUT[type="number"], INPUT[type="search"],
INPUT[type="tel"], INPUT[type="time"], INPUT[type="url"]
{
	/* Define styles */
}


TEXTAREA
{
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

::-ms-value
{
	/* Define styles; "As of IE10 Trident provides the pseudo-element ::-ms-value to style the value portion of text inputs (input[type=text], input[type=password], etc) and <select>s." see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_text */
}

::-ms-clear
{
	display: none; /* "In IE10 when a text input has focus and is not empty, a small X control appears in the right hand side of the input. When clicked, the control will clear the contents of the text input. The X is styleable with the ::-ms-clear pseudo-element. Therefore you can hide it" see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_text */
}


::-ms-reveal
{
	/* "Trident provides a control on password inputs that can be pressed to display the password in plain text." see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_password */
}

::-webkit-input-placeholder /* This prefixed version might not be needed anymore? */
{
	font-size: .875em; 
	line-height: 1.4;
}

:-moz-placeholder /* This prefixed version might not be needed anymore? */
{ 
	font-size: .875em; 
	line-height: 1.4;
}

:-ms-input-placeholder /* "Trident offers the ability to style the placeholder text with a pseudo-class rather than a pseudo-element." see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#placeholder_attribute */
{ 
	font-size: .875em; 
	line-height: 1.4;
}

::-moz-placeholder /* "Note: Gecko switched from the pseudo-class :-moz-placeholder to the pseudo-element ::-moz-placeholder in Firefox 19." see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#placeholder_attribute */
{ 
	font-size: .875em; 
	line-height: 1.4;
}

:placeholder
{ 
	font-size: .875em; 
	line-height: 1.4;
}

INPUT[type="range"]
{
	/* Define styles */
}

::-moz-range-track
{
	/* Define styles; see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_range */
}

::-moz-range-thumb
{
	/* Define styles; see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_range */
}

/*

	Trident provides an impressive number of pseudo-elements to customize its range selector.

    ::-ms-fill-lower: The track portion underneath / before the handle.
    ::ms-fill-upper: The track portion above / after the handle.
    ::-ms-ticks-before: An area above / before the range track with tick marks.
    ::-ms-ticks-after: An area below / after the range track with tick marks.
    ::-ms-thumb: The handle.
    ::-ms-track: The range track itself.
    ::ms-tooltip: The tooltip that appears when the user is selecting a value with the range selector. Note that this element cannot be styled, only hidden using display: none.

    WebKit provides the ::-webkit-slider-runnable-track pseudo-element for the track and ::-webkit-slider-thumb for the range handle itself. While you cannot do much with these elements, you can add some colors and padding.
	
	see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_range
*/

::-webkit-keygen-select
{
	/* Define styles; "WebKit provides the ::-webkit-keygen-select that can be used to customize the dropdown that a KEYGEN element uses." see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#keygen_element; */
}

METER
{
	-moz-appearance: progressbar; /* From: https://github.com/ao5357/hawiducss/blob/gh-pages/styles.css */
}

/* Guides for styling the METER element in WebKit:

::-webkit-meter-bar {
    height: 50px;
    background: white;
    border: 2px solid black;
}
::-webkit-meter-optimum-value { background: green; }
::-webkit-meter-suboptimum-value { background: orange; }
::-webkit-meter-even-less-good-value { background: blue; }

see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#meter_element

*/

/* Guides for styling the PROGRESS element in WebKit:

PROGRESS { -webkit-appearance: none; }
::-webkit-progress-inner-element { }
::-webkit-progress-bar { border: 2px solid black; }
::-webkit-progress-value { background: red; }

and in Mozilla:

::-moz-progress-bar { background: red; }

and in Trident (IE):

::-ms-fill { background: red; }

see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#progress_element

*/


/*
 * Re-set default cursor for disabled elements
 */

BUTTON[disabled], HTML INPUT[disabled] /* Should these change to BUTTON:disabled, INPUT:disabled? */
{
	cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
 
INPUT[type="radio"]
{
	vertical-align: text-bottom;
}

INPUT[type="checkbox"]
{
	vertical-align: bottom;
	*vertical-align: baseline;
}

INPUT[type="checkbox"], INPUT[type="radio"]
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box; /* Are these prefixes needed any more? */
	box-sizing: border-box;
	padding: 0;
	*width: 13px;
	*height: 13px;
}

::-ms-check
{
    /* For styling radio buttons and checkboxes in Trident; appears to style both and not just one or the other; see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_checkbox_radio; */
}

::-webkit-color-swatch-wrapper
{
	/* For styling color input elements in Webkit; see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_color; */
}

::-webkit-color-swatch
{
	/* For styling color input elements in Webkit; see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_date; */
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field,
::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator
{
	/* For styling date input elements in Webkit; see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_color; */
}

::-ms-browse
{
    /* For styling input[type=file] in Trident; see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_file; */
}

::-webkit-file-upload-button
{
    /* For styling input[type=file] in webkit; see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_file; */
}

::-webkit-textfield-decoration-container,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button
{
    /* For styling input[type=number] in webkit; see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_number; */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


INPUT[type="search"]
{
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

INPUT[type="search"]::-webkit-search-decoration, INPUT[type="search"]::-webkit-search-cancel-button, INPUT[type="search"]::-webkit-search-results-button
{
	-webkit-appearance: none; /* see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#input_search */
}

BUTTON::-moz-focus-inner, INPUT::-moz-focus-inner /* see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#button_element */
{
	/* Remove inner padding and border in FF3/4: h5bp.com/l */
	border: 0;
	padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
 
SELECT
{
	background-color: transparent;
}

::-ms-expand
{
    /* Define styles; "As of IE10 Trident gives you a hook to style the arrow within SELECT dropdowns." see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#select_element */
}

/* WebKit provides the pseudo-element ::-webkit-resizer for the resize control it automatically adds to the bottom right of textarea elements.
It can be hidden by applying display: none or -webkit-appearance: none;

::-webkit-resizer
{
    display: none;
}

see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#textarea_element */

/* Colors for form validity */
INPUT:valid, TEXTAREA:valid
{
	
}

INPUT:invalid, TEXTAREA:invalid
{
	background-color: #f0dddd;
}

/* Form Validation Messages

	WebKit is the only rendering engine to support styling the validation bubbles created from the constraint validation API. The following pseudo-elements are provided:

    ::-webkit-validation-bubble
    ::-webkit-validation-bubble-arrow
    ::-webkit-validation-bubble-arrow-clipper
    ::-webkit-validation-bubble-heading
    ::-webkit-validation-bubble-message
    ::-webkit-validation-bubble-text-block

    see http://tjvantoll.com/2013/04/15/list-of-pseudo-elements-to-style-form-controls/#form_validation_messages

 */

 /* There are also now :required and :optional pseudo-classes; */


/* =============================================================================
   Tables. Tables still need cellspacing="0" in the markup (according to your preference)
   ========================================================================== */
   
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
    empty-cells: show;
	font-size: inherit;
	font: 100%;
	margin-bottom: 1.4em;
	table-layout: fixed; /* http://css-tricks.com/fixing-tables-long-strings/ */
}

CAPTION
{ 
	background-color: transparent;
}

CAPTION, TD, TH
{
	padding: 0px;
	/* padding: .25em 10px .25em 5px; 320 and Up Preference */
}

TD:first-child, TH:first-child
{
    border-left-width: 0; /* From: http://yui.yahooapis.com/pure/0.2.1/tables-min.css; Remove or leave in as necessary. It appears to help when borders are generally declared on TD's and TH's. */
}

TD, TD IMG
{
	vertical-align: top;
}

TH
{
	vertical-align: bottom;
}

TBODY TH
{
	text-align: left; /* Suggested by http://tjkdesign.com/ez-css/css/base.css; "right" may actually be a better value. */
}


/* =============================================================================
   Browse Happy Prompt
   ========================================================================== */

.browsehappy
{
	margin: 0.2em 0;
	background: #ccc;
	color: black;
	padding: 0.2em 0;
}




/*  Begin "website-specific styles" section after this comment ends. This is where anything goes depending on the needs of the project; generally for rules that need to be concocted, that haven't been addressed yet by the normalize and reset/base styles. If you are going to use media queries (and you probably should) then this section will mostly be for styles that will apply to any size layout, any browser, any device, etc. */










/*  End "website-specific styles." */




/* iOS7 CSS Updates:

	Following Google Chrome, now Safari on iOS doesn’t support the datetime input type anymore and it will fallback to text.
	position: -webkit-sticky;
    Unprefixed CSS Transitions (and the transitionend event).
    CSS Clip Path to clip contents based on shapes, including circle, rectangles and polygons
    Kerning and Ligatures on fonts are enabled by default
    Background properties now gets more compatibility with different values
    box-decoration-break: slice/clone
    tab-size style
    overflow-wrap: normal/hypernate/break-word
    support for the units ch and vmax
    mask-type: alpha
    new ::cue pseudo-element already covered in the video track section
    New -webkit-background-composite property (but I couldn’t make it work)

http://www.mobilexweb.com/blog/safari-ios7-html5-problems-apis-review */


/* ==|== media queries ======================================================

	Remove or comment out media queries you are not using.

	See http://brightbyte.co.uk/responsive-development-the-basics/ and http://cssmatter.com/blog/css-media-queries/ for suggested arrangements
	of media queries. This link also advises removing CSS3 animations for mobile devices.

   ========================================================================== */
   
 /* iPhone portrait mode; This also hopefully properly targets the Blackberry browser

		Inherits styles from: Default Layout. */

@media only screen and (max-width: 479px)
{

}/*/mediaquery*/


/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/
   
   Wide Mobile Layout; like landscape mode on iPhone and iPod touch; screen *seems to be* 491 pixels across

Inherits styles from: Default Layout, Mobile Layout. */

@media only screen and (min-width: 480px)
{
}/*/mediaquery*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 569px)
{

}/*/mediaquery*/


@media screen and (max-device-width: 480px)
{

}/*/mediaquery*/


@media all and (orientation: portrait)
{
	
}/*/mediaquery*/


@media all and (orientation: landscape)
{
	
}/*/mediaquery*/

/*		Tablet Layout: 768px.

		Inherits styles from: Default Layout. 

These and other media queries like it used here come from http://lessframework.com/; these might need a lot of work; as of May 16, 2011, this media query seems to be properly targeting iPad portrait */

@media only screen and (min-width: 768px)
{
}/*/mediaquery*/


/* Styles for desktop and large screen ----------- */

/*styles for 800px and up!*/
@media only screen and (min-width: 800px)
{
  /* Styles */
}/*/mediaquery*/


@media only screen and (min-width: 992px)
{
  /* Style adjustments for landscape mode and browsers with widths equal to or greater than iPad landscape mode goes here; as of May 17, 2011, this media query seems to be properly targeting iPad landscape */
}/*/mediaquery*/

@media only screen and (min-device-width: 768px) and (max-device-width: 
1024px) { /* iPad 1, 2, iPadMini */ }

@media only screen and (min-device-width: 768px) and (max-device-width: 
1024px) and (-webkit-min-device-pixel-ratio: 2) { /* iPad 3, 4 */ }


/*  The following are various media queries (or selectors that work as such) targeting various browsers. They may or may not be needed. */

/*ie 6*/
* html .selector
{
}

/*ie 7 */
*+html . selector
{
}

/*ie 8*/
@media \0screen
{
}/*/mediaquery*/

/*ie 9*/
:root . selector
{
}

/*Ie 7 and less */
. selector
{
}

/*All ie */
.selector
{
}

/* The following is supposed to target only Webkit browsers (and it seems to work): */

@media screen and (-webkit-min-device-pixel-ratio:0)
{

}/*/mediaquery*/


/* The following is supposed to target only Chrome browsers http://www.republicof3.com/a-few-cross-browser-css-hacks-every-developer-should-know/?goback=.gde_2071438_member_107474833: */

body:nth-of-type(1) .selector
{
}


/* The following is supposed to target only Mozilla browsers http://www.pixelastic.com/blog/68:firefox-only-css-rules and http://www.republicof3.com/a-few-cross-browser-css-hacks-every-developer-should-know/?goback=.gde_2071438_member_107474833: */

/*Firefox 2.0 */
html>/**/body .selector, x:-moz-any-link
{
}

/*Firefox 3.0 */
html>/**/body .selector, x:-moz-any-link, x:default
{
}

/*All Firefox*/
@-moz-document url-prefix()
{
}

/* http://www.paulirish.com/2009/browser-specific-css-hacks/ */


/* The following is supposed to target only Opera browsers http://www.republicof3.com/a-few-cross-browser-css-hacks-every-developer-should-know/?goback=.gde_2071438_member_107474833: */

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
}/*/mediaquery*/


/* Targets Opera browsers, possibly 9.5 and above, and maybe up to just before they started using the blink rendering engine?: http://preview.tinyurl.com/874x89m
*:-o-prefocus
{
} */


/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}/*/mediaquery*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2), /* Looks like a bug, so may want to add: */
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    /* Your retina specific stuff here */
}

/* @media (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3/2),
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-device-pixel-ratio: 1.5),
       (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {

Retina rules!

} */ /* from: http://mir.aculo.us/2012/11/28/the-ultimate-target-retina-screens-media-query/ */



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

.ir
{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
} /* from: http://tympanus.net/codrops/2012/10/25/kick-start-your-project-a-collection-of-handy-css-snippets/ */

.ir BR
{
	display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden
{
	display: none !important;
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden
{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
{
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible
{
	visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
* `contenteditable` attribute is included anywhere else in the document.
* Otherwise it causes space to appear at the top and bottom of elements
* that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
* `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
    *zoom: 1;
}


/*
An easy way to zoom your entire layout in or out (as long as it's set in ems).
Just change the media queries to activate them.
Assuming your base font-size is 16:
- the first one zooms out by a factor of (16-2)/16 = 0.875
- the second one zooms in by a factor of (16+2)/16 = 1.125
From: https://github.com/jonikorpi/Frameless/blob/master/frameless.less
	(check this style sheet again on GitHub before using these media queries as they are reliant on some LESS variables from there)

@media screen and (max-width: 1px) {
body {
font-size: (@font-size - 2)/16*1em;
}
}

@media screen and (max-width: 1px) {
body {
font-size: (@font-size + 2)/16*1em;
}
}

*/


/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print
{
	*
	{
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
 
        /* Images, vectors and such */
        filter: Gray();                          /* IE4-8: deprecated */
        filter: url('desaturate.svg#grayscale'); /* SVG version for IE10, Firefox, Safari 5 and Opera */
        -webkit-filter: grayscale(100%);         /* Chrome + Safari 6 */
        -moz-filter: grayscale(100%);            /* Future proof */
        -ms-filter: grayscale(100%);             /* Future proof */
        -o-filter: grayscale(100%);              /* Future proof */
        filter: grayscale(100%);                 /* Future proof or polyfilled */
    }

    /* Some of the following comes from: https://github.com/vladocar/Hartija---CSS-Print-Framework/blob/master/print.css */

    BODY
    {
		width:100% !important;
		margin:0 !important;
		padding:0 !important;
		line-height: 1.45;
		font-family: Garamond,"Times New Roman", serif;
		color: #000;
		background: none;
		font-size: 14pt;
	}

	/* Headings */
	h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }
	h1{font-size:19pt;}
	h2{font-size:17pt;}
	h3{font-size:15pt;}
	h4,h5,h6{font-size:14pt;}

    a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color:#333; }

    A, A:visited
    {
        text-decoration: underline;
    }

    A[href]:after
    {
        content: " (" attr(href) ")";
    }

    ABBR[title]:after
    {
        content: " (" attr(title) ")";
    }

    /* Don't show links for images, or javascript/internal links: */

    .ir A:after,
    A[href^="javascript:"]:after,
    A[href^="#"]:after    
	{
        content: "";
    }

	a:link[href^="http://"]:after,
	a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }


	/* Don't show linked images */
	a[href^="http://"]
	{
		color:#000;
	}

	a[href$=".jpg"]:after, a[href$=".jpeg"]:after,
	a[href$=".gif"]:after, a[href$=".png"]:after
	{
		content: " (" attr(href) ") ";
		display:none;
	}

    code { font: 12pt Courier, monospace; }
	blockquote { margin: 1.2em; padding: 1em; font-size: 12pt; }

	HR
	{
		/* page-break-after: always; Is this really the best value? Suggested by Brad Czerniak at: http://css-tricks.com/snippets/css/cross-browser-hr-styling/ */
		background-color: #ccc;
	}

    PRE, BLOCKQUOTE
    {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /* Table */
	table { margin: 1px; text-align:left; }
	th { border-bottom: 1px solid #333; font-weight: bold; }
	td { border-bottom: 1px solid #333; }
	th,td { padding: 4px 10px 4px 0; }
	tfoot { font-style: italic; }
	caption { background: #fff; margin-bottom:2em; text-align:left; }
	thead {display: table-header-group;}
	img,tr {page-break-inside: avoid;}

    THEAD
    {
        display: table-header-group; /* h5bp.com/t */
    }

  	TR, IMG
    {
        page-break-inside: avoid;
    }

    IMG
    {
    	float: left;
    	margin: 1em 1.5em 1.5em 0;
        max-width: 100% !important;
    }

	a img { border: none; }

    @page
    {
        margin: 0.5cm;
    }

    P, H2, H3
    {
        orphans: 3;
        widows: 3;
    }
}